html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(241, 241, 241);
    background: linear-gradient(
      0deg,
      rgba(241, 241, 241, 1) 0%,
      rgba(255, 240, 183, 1) 46%,
      rgba(255, 195, 57, 1) 100%
    );
  }
}
